schema/xml/call-history.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="details">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="calls">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="call" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="contact_name"/>
                    <xs:element type="xs:byte" name="country_code"/>
                    <xs:element type="xs:string" name="duration"/>
                    <xs:element type="xs:string" name="from"/>
                    <xs:element type="xs:string" name="time_stamp"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="first_name"/>
        <xs:element type="xs:string" name="last_name"/>
        <xs:element type="xs:long" name="mobile_no"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>